.itemm{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 250px;
    background-color: rgb(14, 103, 130);
    color: wheat;
    font-size: 20px;
}